//global color pallate
$teal: #79fff2;
$blue:rgb(42, 100, 224);
$lime: #ebffad;
$berry: #e91e63;
$dark-grey: #333333;
$light-grey: #acacac;
$off-white: #fafafa;
$background-mint: #e0f7fa;
$dark-background: black; 
$screen-breakpoints: (
  "xs": 0px,
  "s": 480px,
  "m": 768px,
  "l": 1024px,
);

$base-font-size: 16;