@use "styles/abstracts/variables" as *;
@use "styles/abstracts/functions" as *;


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: $dark-grey;
    font-size: pxToRem(22px);
    font-weight: 600;
  }

  .cocktail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}
