.cocktailGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  scrollbar-width: none;
}


.cocktailItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}