@use "./styles/abstracts/variables" as *;

.App {
  text-align: center;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
html,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-mint;
}
