@use "./styles/abstracts/variables" as *;

.App {
  text-align: center;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body,
html,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $dark-background;
}

header {
  display: flex;
  span {
    color: $lime;
  }
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.493);
}
